<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>LittleSearch</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="static/spatial/assets/css/main.css"/>
    <link rel="stylesheet" href="static/spatial/assets/css/paginate.css"/>
</head>

<body class="landing">

<!-- HOME -->

<section id="banner">
    <h2>LittleSearch</h2>
    <p>Search You Want</p>
    <ul class="actions">
        <li>
            <form action="/search_creater" method="GET" name="search" role="search">
                <input id="query" name="query" type="text" value="" placeholder="Search"/>
            </form>
        </li>
    </ul>
</section>

<!-- Scripts -->
<script src="static/spatial/assets/js/jquery.min.js "></script>
<script src="static/spatial/assets/js/skel.min.js "></script>
<script src="static/spatial/assets/js/util.js "></script>
<script src="static/spatial/assets/js/main.js "></script>
<!-- <script src="static/spatial/assets/js/paginate.js "></script> -->

</body>

</html>